.container {
    margin-top: 3em;
}

/* NAVIGATION BAR */

nav ul li a {
    color:white;
}

nav ul li a:hover {
    color:white;
}

/* About Section */


.about-paragraph {
    margin-top: 2em;
}

.about-me img {
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
}
