.container {
    margin-top: 3em;
}

/* NAVIGATION BAR */
nav {
    background-color: #00B2FF !important;
}

nav ul li a {
    color:white;
}

nav ul li a:hover {
    color:white;
}

/* About Section */


.about-paragraph {
    margin-top: 1em;
}

.about-me img {
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right:2em;
}

.social-media-icon {
    margin-top: 0.5em;
    display: inline-block;
    margin-right: 0.8em;
}

.fab {
    color:black;
}

/* Portfolio */

.portfolio-header {
    margin-bottom: 1em;
}

a.card-link, a.card-link:hover {
    color:white;
}

/* Contact */

.contact-form h1 {
    margin-bottom: 1em;
}

.contact-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
}