
.container {
    padding-top: 3em;
}

html,body {
    height: 100%;
}

.container{
    height:100%;
}

.my-name {
    font-family: 'Parisienne', cursive;
    font-size: 2em;
} 

p, label {
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

/* NAVIGATION BAR */
nav {
    background-color: #00B2FF !important;
    font-family: 'Jost', sans-serif;
}

nav li {
    padding-left: 3em;
    padding-right: 3em;
}

nav ul li a {
    color:white;
    font-size: 1.3em;
}

nav ul li a:hover {
    color:white;
}

/* About Section */

#splash-bg {
    background-color: #00B2FF;
    height:100%;
}

.about-paragraph {
    margin-top: 1em;
}

.about-me img {
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right:2em;
}

.social-media-icon {
    margin-top: 0.5em;
    display: inline-block;
    margin-right: 0.8em;
}

.fab {
    color:black;
}

/* Portfolio */

.portfolio-header {
    margin-bottom: 1em;
}

a.card-link, a.card-link:hover {
    color:white;
}

/* Contact */

.contact-form h1 {
    margin-bottom: 1em;
}

.contact-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
}